{% extends "layout.html" %}
{% block content %}
<div class="card">
    <h5 class="card-header">描いてもらう</h5>
    <div class="card-body">
        <form method="post" action="/transfer" enctype="multipart/form-data">

            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile" name="target" accept="image/jpeg">
                <label class="custom-file-label" for="customFile" data-browse="参照">ファイル選択...</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="mode" id="exampleRadios1" value="js" checked>
                <label class="form-check-label" for="exampleRadios1">
                    人工小学生
                </label>
                </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="mode" id="exampleRadios2" value="azs">
                <label class="form-check-label" for="exampleRadios2">
                    人工あずさ
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="mode" id="exampleRadios3" value="klmt">
                <label class="form-check-label" for="exampleRadios3">
                    人工クリムト
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="mode" id="exampleRadios4" value="ink">
                <label class="form-check-label" for="exampleRadios4">
                    水墨画
                </label>
            </div>
            
            <input class="btn btn-primary" type="submit" value="Upload">
        </form>
    </div>

<script>
$('.custom-file-input').on('change',function(){
    $(this).next('.custom-file-label').html($(this)[0].files[0].name);
})
</script>

</div>
<br />

<div class="card">
    <h5 class="card-header">描いた例</h5>
    <div class="card-body">
    {% for image in images %}
        <img src="{{ image['url'] }}" width="100%" /><hr />
    {% endfor %}
    </div>
</div>

{% endblock %}
